body {
    font-family:Aller;
}

* {
    box-sizing: border-box;
}

body {
   margin-left:20px;
   margin-right:20px;
}
h1{
    text-align:center;
    color:chocolate;
    font-weight:bold
}
.topnav Button {
    float: left;
    display: block;
   
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.gridView{
    float:left;
    width:50%;
    height:600px;
}

.panel {
    float: left;
    width: 50%;
    height: 600px;
   
}
.content{
    margin-top:30px;
}