<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="UMRRecruitmentDBConnectionString" connectionString="Data Source=localhost;Initial Catalog=UMRRecruitementDB_New;User ID=sa;Password=0707;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

 

</configuration>