<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="UMRRecruitmentDBConnectionString" connectionString="Data Source=(local);Initial Catalog=UMRRecruitementDB_New;User id=sa;Password=0707;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>